<div class="col-8 text-center mx-auto">
    <div class="jumbotron bg-image-about">
        <div class="bg-mask">
            <h1 class="display-4">About Lang-learn</h1>
            <p class="lead">With this app, you can learn</p>
            <p class="yellow">Whatever</p>
            <p class="orange">Whenever</p>
            <p class="red">Wherever</p>
            <p class="green">With your friends!!!!</p>

        </div>
    </div>
</div>