<div class="col-8 text-center mx-auto">
    <div class="jumbotron bg-image-home">
        <div class="bg-mask">
            <h1 class="display-4">Welcome to Lang-learn</h1>
            <p class="lead">You can learn any language with this app. The word will be added regurarly, so there is unlimited words. </p>
            <hr class="my-4">
            <p>You can have new account here.</p>
            <%= link_to "Signup",signup_path, class: "btn btn-primary filtering"%>
            <p class="mt-4">If you have an account, let's start.</p>
            <%= link_to "Login",login_path, class: "btn btn-primary filtering mb-4"%>
        </div>
    </div>
</div>