<div class="form content">
    <h1 class="text-center">Create word</h1>
    <div class="container col-6 m-auto">
        <%= render'form' ,msg: "Create word"%>
        <%= link_to "Back",admin_category_words_path,class:"btn btn-outline-secondary btn-block"%>
    </div>
    
</div>