<div class="form content">
    <h1 class="text-center">Edit category</h1>
    <div class="container col-6 m-auto">
        <%= render'form', msg: "Update category"%>
        <%= link_to "Back",admin_categories_path,class:"btn btn-outline-secondary btn-block"%>
    </div>
    
</div>