@import "bootstrap";


.avatar_size{
  width: 150px;
  height: 150px;
  border-radius: 2rem;
}
.card{
  text-align: center;
}

.administration{
  color: rgb(0, 0, 0);
}

.jumbotron{
background-color:rgba(139, 86, 139, 0.24);
}