@import "bootstrap";

* {
  font-family: 'Roboto Slab', serif;
}

.avatar_size{
  width: 150px;
  height: 150px;
  border-radius: 2rem;
}
.card{
  text-align: center;
}

.administration{
  color: rgb(0, 0, 0);
}

.jumbotron{
  background-color:rgba(139, 86, 139, 0.24);
}

.small-size{
  width: 80px;
  height: 80px;
}

.filtering{
  width: 25%;
}

.bg-image-home{
  background-image: image-url('books.jpg');
  background-size:  cover;
}

.bg-image-about{
  background-image: image-url('foreigner.jpg');
  background-size:  cover;
}

.bg-mask{
  background: rgba(255,255,255,0.4);
}
.yellow{
 color: yellow;
 font-size: 20px;
}
.orange{
  color: orange;
  font-size: 20px;
 }
 .red{
  color: red;
  font-size: 20px;
 }
 .green{
   color: green;
   font-size: 20px;
 }